[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pandas-stubs = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
googlesearch-python = "*"

[packages]
dash = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
cufflinks = "*"
plotly = "*"
pymongo = "*"
python-memcached = "*"
numpy-financial = "*"
pandas-datareader = "*"
argon2-cffi = "*"
types-requests = "*"
dj-static = "*"
yfinance = "*"

[requires]
python_version = "3.8"
