[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
bs4 = "*"
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
cufflinks = "*"
plotly = "*"
pymongo = "*"
python-memcached = "*"
numpy-financial = "*"

[requires]
python_version = "3.8"
