#import requests
#from bs4 import BeautifulSoup
#import pandas as pd
#from pandas_datareader import data as pdr
#from datetime import datetime as dt
#import matplotlib as mpl
#import matplotlib.pyplot as plt
#import cufflinks as cf
#import plotly.offline as plyo
#import numpy as np
#import numpy_financial as npf
#from jupyter_dash import JupyterDash
#import dash_core_components as dcc
#import dash_html_components as dash_html
#import dash.dependencies as dsah_depend
#import ipywidgets as widgets
#import plotly.graph_objects as go
#import plotly.io as pio
#from IPython.display import display
#import dash_bootstrap_components as dbc
#import webbrowser