<!doctype html>
<html>
{% load static %}
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon" href="/static/img/investment-60.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">
  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}" />  
  <link rel="stylesheet" href="{% static "pages/dashboard.css" %}">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script-->
</head>
<!--header>
  <a href="{% url 'home' %}">Home</a> | <a href="{% url 'dashboard' %}">Dashboard</a> | <a
    href="{% url 'about' %}">About</a>
</header-->

<body>

  {% block content %}

  {% endblock %}

  <div class="mt-5 p-1 bg-warning text-center">

    <p class="text-monospace">
      <h5 class="pr-3">By Steven K &nbsp; &nbsp; <a href='https://github.com/CTSteven/InvestmentDashboard'
          target='MyGitHub' style="color:black;" aria-label="GitHub" data-toggle="tooltip" data-placement="top"
                                    title="GitHub"><i class="fab fa-github"></i></a></h5>
      <div class="text-center">
        <span>@ 2020 All Rights Reserved</span>
      </div>
    </p>
  </div>

    <div id="errorToast" class="toast " role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-delay="2000" style="position:absolute; top:2rem; left:45%; min-width:200px; min-height:100px; z-index:1111 ">
        <div class="toast-header bg-danger text-white">

            <strong class="mr-auto">Error</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
        </div>
    </div>

    <div class="modal" id="_errorMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-danger">
                    <h5 class="modal-title">System Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>



  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>

  <script src="{% static 'js/bootstrap-slider.min.js' %}" ></script>
  <script src="{% static 'js/ion.rangeSlider.min.js' %}" ></script>
  <script>


        function processAjaxErrorMessage(xhr, status, error) {

            var errMsg = "Status Code : " + xhr.status + "<br>";
            if (xhr.status == 403) {
                errMsg += "Unauthorized Access";
            }
            else {
                if (xhr.responseText != null && xhr.responseText != "")
                    errMsg += xhr.responseText;
                else
                    errMsg += error;
            }
            if (xhr.status == 500 && xhr.responseJSON == undefined) {
                $("#_errorMessageModal").find(".modal-body").html(errMsg);
                $("#_errorMessageModal").modal("show");
            } else {
                $("#errorToast").find(".toast-body").html(errMsg);
                $('#errorToast').toast('show');
            }
        }

  </script>
</body>

</html>